# Unreal Engine 基础忽略
Binaries/
DerivedDataCache/
Intermediate/
Saved/
.vscode/
.vs/
*.sln
*.suo
*.user
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# 构建产物
*.log
*.pdb
*.obj
*.exe
*.dll
*.lib

# 自动生成文件
*.generated.*
*.VC.db
*.VC.opendb

# LFS 文件
# （由 .gitattributes 决定哪些资源用 LFS）

# Mac / Windows 系统文件
.DS_Store
Thumbs.db
